{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">
   <div class="row">
      <div class="box">
         <div class="col-lg-12 text-center">
            <h2 class="brand-before">
               <small>Welcome to</small>
            </h2>
            <h1 class="brand-name">Enshin Dojo</h1>
         </div>
      </div>
   </div>
   <div class="region region-content">
      <section id="block-system-main" class="block block-system clearfix">
         <div class="panel-display panel-1col clearfix" >
            <div class="panel-panel panel-col">
               <div>
                  <div class="panel-pane pane-node"  >
                     <div class="pane-content">
                        <div id="carousel-bootstrap-8" data-nid="8" class="carousel slide">
                           <div class="carousel-inner">
                              <div class="item active">
                                 <div class="video-wrapper">
                                    <div class="video-container">
                                       <div class="ytplayer" id="ytplayer-m-SJTpq75j8" data-videoid="m-SJTpq75j8">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- .carousel-inner -->
                        </div>
                     </div>
                  </div>
                  <div class="panel-separator"></div>
                  <div class="panel-pane pane-node"  >
                     <h2 class="pane-title">
                        The Beauty Of Ninpo     
                     </h2>
                     <div class="pane-content">
                        <article id="node-3" class="node node-basic-page clearfix">
                           <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                              <div class="field-items">
                                 <div class="field-item even">
                                    <p><img class="img-responsive img-border img-left" src="img/Home%20Image.png" /> The art of the Ninja, the legendary shadow warriors of Japan, is the primary focus of the Genbukan World Ninpo Bugei Federation (GWNBF) headed by Grandmaster Shoto Tanemura of Matsubishi Japan. In the interests of maintaining the integrity of the ancient Ninja tradition, Grandmaster Tanemura founded Genbukan in November of 1984. Genbukan is dedicated to the factual portrayal and teaching of the Ninja arts in the traditional Japanese manner.</p>
                                    <p>The curriculum in Genbukan is centered on the teaching of the Ninpo Sanjurokkei (36 areas of training) that consists of 18 forms of traditional Japanese martial arts (Bugei Juhappan) in combination with the 18 forms of Ninpo (Ninja Juhakei).</p>
                                    <p>Grandmaster Shoto Tanemura Sensei has dedicated his life to master these many forms of Kobudo (Ancient Martial Arts). His mission is to bring this once exclusive and secret knowledge to his students so they may enjoy the mental, physical and spiritual growth that results in a more fulfilling and happier life.</p>
                                    <p class="center-text">
                                       <i>Enshin Dojo - The training hall where heart and mind connect in a circle</i>
                                    </p>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
                  <div class="panel-separator"></div>
                  <div class="panel-pane pane-node"  >
                     <h2 class="pane-title">
                        Lessons    
                     </h2>
                     <div class="pane-content">
                        <article id="node-4" class="node node-basic-page clearfix">
                           <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                              <div class="field-items">
                                 <div class="field-item even">
                                    <p>You can start learning traditional jujutsu and samurai arts as taught by Grandmaster Shoto Tanemura to honour our martial forefathers and to walk the true path of a warrior, while keeping a pure heart. Lessons are held every Monday, Wednesday and Friday from 7 p.m to 9 p.m.</p>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
{{ partial "footer.html" . }}
